<footer class="footer">
  <span class="Copyright">
    <p>Nombre del grupo © 2021</p>
  </span>
  <!-- <span class="Footer-Links"> -->
  <ul class="Footer-Links">
    <li><a href=".index.html#team-section">Equipo</a></li>
    <li><a href=".index.html#team-section">Quienes somos</a></li>
    <li><a href=".contact.html">Contacto</a></li>
  </ul>
  <!-- </span> -->
  <!-- <div class="Adalab-logo" creo que este div se podria borrar> -->
  <img
    class="Adalab-logo"
    src="./assets/images/logo-adalab.png"
    alt="Logotipo de Adalab"
  />
  <!-- </div> -->
</footer>
