<section class="sectiondos">
    <article class="articleuno">
      <h3 class="title_fortalezas">Fortalezas</h3>
      <p class="itemdos">
        TestLorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quo
        dolore inventore et rem exercitationem, quidem sequi tempora odit
        maiores sed officiis. Facilis blanditiis odio sapiente consequatur
        vero omnis sequi? Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Molestias repudiandae illum quasi quos iusto
        ipsam, porro maxime. Quas, facere? Earum sed laboriosam possimus
        quisquam corrupti maiores enim voluptates odio quibusdam!
      </p>
    </article>
    <article class="articledos">
      <h3 class="title_debilidades">Debilidades</h3>
      <p class="itemtres">
        TestLorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium
        nisi esse ex, sunt necessitatibus quo maxime officiis at est iste
        aperiam, ea aliquid! Quod excepturi blanditiis eos? Officiis, est
        aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quae dolorem reprehenderit cupiditate natus nesciunt placeat quaerat
        repudiandae obcaecati ex, quo laudantium odit voluptates
        exercitationem. Iure tenetur eaque laborum. Veniam, distinctio!
      </p>
    </article>
  </section>