<section class="about-us">
  <h2 class="about-tittle" id="quienessomos">Quiénes somos</h2>
</section>

<section class="about-container">

  <article class="about-articleuno">
    <img class="img-girl" src="./assets/images/fotoPaulaA.jpg" alt="foto de Paula Álvarez" />
    <div class="box">
      <h3 class="names">Paula Álvarez</h3>
      <p class="descriptionuno">
        Está claro que lo mío es probar: habiendo vivido en Salamanca, Barcelona, Londres, y los últimos 9 años en
        Dublín, y habiendo trabajado de profesora, coordinadora de un departamento de educación online, traductora,
        fotógrafa ahora, la vida, y la curiosidad me llevan a incursionarme en el mundo del desarrollo front-end. Me
        gusta leer, la fotografía, el diseño, viajar, dar paseos por el campo y cuidar mis plantas.
      </p>

      <div class="social-icons">
        <a href="https://twitter.com/alvarezb_paula"><i class="fab fa-twitter"></i></a>·
        <a href="https://www.linkedin.com/in/paulalvarezb/"><i class="fab fa-linkedin-in"></i>
        </a>·
        <a href="https://github.com/Paula-AlvarezB"><i class="fab fa-github-alt"></i></a>·
        <a href="mailto:alvarezb.paula@gmail.com"><i class="fas fa-envelope"></i></i></a>
      </div>
    </div>
  </article>

  <article class="about-articledos">


    <img class="img-girl" src="./assets/images/foto-bego.jpg" alt="Foto de Begoña" />
    <div class="boxuno">
      <h3 class="names">Begoña del Pozo</h3>
      <p class="descriptiondos">
        Después de muchos años trabajando en atención al cliente dentro del sector de transporte, ha llegado el momento
        de dar un giro a mi experiencia laboral. Me gusta el trabajo en equipo y formarme en todo lo que puedo, por eso
        afronto con ilusión esta nueva etapa de mi vida como desarrolladora fornt-end. Me gusta leer, la montaña y los
        juegos de mesa.
      </p>

      <div class="social-icons">
        <a href="https://twitter.com/Begodpo1"><i class="fab fa-twitter"></i></a> ·
        <a href="https://www.linkedin.com/in/begoña-del-pozo-oltra-042097117"><i class="fab fa-linkedin-in"></i>
        </a> ·
        <a href="https://github.com/Begodpo"><i class="fab fa-github-alt"></i></a> ·
        <a href="mailto:begodpo@gmail.com"><i class="fas fa-envelope"></i></i></a>
      </div>
    </div>
  </article>

  <article class="about-articleuno">

    <img class="img-girl" src="./assets/images/fotopaulav.png" alt="Foto de Paula de la Victoria" />

    <div class="box">
      <h3 class="names">Paula de la Victoria</h3>
      <p class="descriptionuno">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Blanditiis saepe nam asperiores, excepturi soluta facilis tempora
        iste, dolore tempore autem laudantium doloribus quae corrupti.
        Repellendus dicta dolorem dignissimos amet consectetur.
      </p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-twitter"></i></a> ·
        <a href="#"><i class="fab fa-linkedin-in"></i>
        </a> ·
        <a href="#"><i class="fab fa-github-alt"></i></a> ·
        <a href="#"><i class="fas fa-envelope"></i></i></a>
      </div>
    </div>
  </article>

  <article class="about-articledos">

    <img class="img-girl" src="./assets/images/saras.jpg" alt="Foto de Sara" />

    <div class="boxuno">
      <h3 class="names">Sara Sánchez</h3>

      <p class="descriptiondos">
        Fan de los parques temáticos (a lo que me dedicaba antes de empezar esta aventura), las ganas de
        un cambio de vida me traen aquí,
        a aprender desarrollo front-end. Como aficiones, la música, coleccionar funkos, hacer escape-room y los
        videojuegos.
      </p>

      <div class="social-icons">
        <a href="https://twitter.com/SaraSL93"><i class="fab fa-twitter"></i></a> ·
        <a href="https://www.linkedin.com/in/sara-s%C3%A1nchez-156a73224/"><i class="fab fa-linkedin-in"></i>
        </a> ·
        <a href="https://github.com/SaraSanchezL"><i class="fab fa-github-alt"></i></a> ·
        <a href="mailto:sarasanchezlopez93@gmail.com"><i class="fas fa-envelope"></i></i></a>

      </div>
    </div>
  </article>
</section>
<!-- about-container -->
</section>
<!-- about-us -->