<section class="sectionuno">
  <div class="title__team">
    <h2 class="title__team--transition" id="equipo">Equipo</h2>
  </div>
  <p class="itemuno">
    Empezamos de cero y sin conocernos, y poco a poco hemos ido creciendo como
    equipo, tanto profesional como personalmente. Nos identificamos como equipo
    porque nos complementamos muy bien entre nosotras, nos ayudamos mutuamente y
    juntas podremos con todo lo que nos propongan. Tenemos muchas cosas en
    común, entre ellas las ganas de aprender y trabajar como desarrolladoras
    front-end. Y este es el primer paso!
  </p>
  <div class="square"></div>
</section>
