// fonts
$fontRubik: "Rubik", sans-serif;
$fontOpen: "Open Sans", sans-serif;

// colors
$colorBackg: #099d8d;
$backColorW: #f1f1f1;
$colorBackgNav: #14d9c4;
$colorText: #54585a;
$colorCopyr: #b8b8b9;
