.form {
  margin: 60px auto;
  width: 290px;
  color: $colorText;
  font-size: 14px;
  font-family: $fontOpen;
  font-weight: 400;
  @media (min-width: 768px) {
    width: 440px;
  }
  @media (min-width: 1200px) {
    width: 600px;
  }
}

.required::after {
  content: "*";
  color: $colorBackgNav;
  margin-left: 3px;
}

label {
  margin-bottom: 7px;
  margin-top: 15px;
  display: block;
}

input,
textarea {
  border: solid 1px $colorCopyr;
  width: 100%;
  line-height: 15px;
  padding: 15px;
}

input::placeholder,
textarea::placeholder {
  color: $colorCopyr;
  font-size: 14px;
  font-family: $fontOpen;
}

.cta {
  text-transform: uppercase;
  color: white;
  background-color: $colorBackg;
  margin-top: 30px;
  border-radius: 4px;
  @media (min-width: 768px) {
    width: 200px;
    display: block;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    width: 280px;
  }
}

@media (min-width: 1200px) {
  .emailField {
    width: 395px;
    float: left;
  }
  .phoneField {
    width: 162px;
    margin-left: auto;
  }
}
