.header {
  background-size: cover;
  height: 300px;
  position: relative;
  @media (min-width: 1200px) {
    height: 400px;
  }
}
.imageIndex {
  background-image: url(../images/header-image.jpg);
}
.imageContact {
  background-image: url(../images/contacto.jpg);
}

.headerdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $fontRubik;
  color: #ffffff;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    flex-direction: row;
    padding-left: 45px;
    padding-right: 45px;
    background-color: $colorBackg;
    justify-content: space-between;
    height: 60px;
    @media (min-width: 1200px) {
      padding-left: 140px;
      padding-right: 140px;
    }
  }
}

h1 {
  height: 60px;
  padding: 15px;
  background-color: $colorBackg;
  opacity: 0.95;
  font-size: 16px;
  text-align: center;
  @media (min-width: 768px) {
    opacity: 0.9;
  }
}

nav {
  background-color: $colorBackgNav;
  opacity: 0.9;
  height: 45px;
  font-size: 15px;
  padding: 8px;
  @media (min-width: 768px) {
    padding-top: 15px;

    background: none;
  }
}
ul {
  display: flex;
  justify-content: space-between;
  @media (min-width: 768px) {
    /*gap: 20px;*/
  }
}
a {
  box-sizing: content-box;
  padding: 10px;
}

.header-text {
  height: 80px;
  padding: 14px 15px 16px;
  background-color: #fff;
  font-family: $fontOpen;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  transform: translate(0, 50%);
  text-align: center;
  @media (min-width: 768px) {
    width: 441px;
    opacity: 80%;
    transform: none;
    left: 46px;
  }
  @media (min-width: 1200px) {
    height: 90px;
    width: 574px;
    left: 140px;
  }
}
.rectangleContact {
  display: none;
}
