.sectionuno {
  background-color: #ffffff;
  padding: 15px 15px 30px 15px;
  margin-top: 30px;
  position: relative;
}
.title__team {
  display: flex;
  justify-content: center;
  &--transition {
    padding: 15px 0px 15px 0px;
    font-family: $fontRubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: $colorBackg;
    text-transform: uppercase;
    transition: font-size ease-out 2s, background-color ease-in 1s,
      border ease 1s;
    &:hover {
      font-size: 35px;
      background-color: #f1f1f1;
      border: solid 2px $colorText;
    }
  }
}
/*.title_team {
  padding: 15px 0px 15px 0px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  color: #099d8d;
  text-transform: uppercase;
  transition: font-size ease-out 2s, background-color ease-in 1s, border ease 1s;
  &:hover {
    font-size: 35px;
    background-color: #f1f1f1;
    border: solid 2px #54585a;
  }
}*/

.itemuno {
  font-family: $fontOpen;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $colorText;
}

@media (min-width: 768px) {
  .title_team {
    margin-top: 45px 339.3px 0px 340px;
  }
  .itemuno {
    padding: 15px 45px 60px 45px;
  }
}
@media (min-width: 1200px) {
  .sectionuno {
    padding-top: 45px;
    margin: 0;
  }
  .title_team {
    align-items: center;
  }
  .itemuno {
    padding: 15px 300px 60px 299px;
  }
}
