@import "core/mixins";
@import "core/reset";
@import "core/variables";
@import "layout/footer";
@import "layout/header";
@import "layout/quienessomos";
@import "layout/sectionuno";
@import "layout/sectiondos";
@import "layout/contactform";


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");

.small {
  font-family: "OpenSans", sans-serif;
  color: #54585a;
  font-size: 12px;
  text-align: center;
}
.asterisk {
  color: #099d8d;
}

.square {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.form-container {
  font-family: "OpenSans", sans-serif;
  color: #54585a;
  font-size: 12px;
}

@media all and (min-width: 768px) {
  .sectionuno {
    padding-top: 15px;
  }

  .title_fortalezas {
    padding-bottom: 15px;
  }
  .title_debilidades {
    padding-bottom: 15px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
